@font-face {
  font-family: vazir;
  src: url(./assets/Vazir-YBOJxToJ.eot);
  src: url(./assets/Vazir-YBOJxToJ.eot?#iefix) format("embedded-opentype"),
    url(./assets/Vazir-2nBFdYM4.woff2) format("woff2"),
    url(./assets/Vazir-CV_izvBh.woff) format("woff"),
    url(./assets/Vazir-UfNgAjWV.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: roboto;
  src: url(./assets/Roboto-Regular-BdrX10DA.eot);
  src: url(./assets/Roboto-Regular-BdrX10DA.eot?#iefix)
      format("embedded-opentype"),
    url(./assets/Roboto-Regular-IPqKTCBe.woff2) format("woff2"),
    url(./assets/Roboto-Regular-nww2GukN.woff) format("woff"),
    url(./assets/Roboto-Regular-a0MWL-tk.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
body {
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background: inherit;
}
::-webkit-scrollbar-thumb {
  background: rgba(245, 245, 245, 0.082);
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(245, 245, 245, 0.466);
}
@media only screen and (max-width: 768px) {
  body::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
}
